html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling : touch;
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust : 100%;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Remove the blue Webkit background when element is tapped
 */

a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


img {
  vertical-align: middle;
}

// http://www.cssfontstack.com/Century-Gothic
h1 {
  font-family: @base-font-family;
  font-size: unit(24/@base-font-size, em);
  font-style: normal;
  font-variant: normal;
  font-weight: @base-font-weight;
  line-height: percentage(26.3999996185303/24);
}

h3 {
  font-family: @base-font-family;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: @base-font-weight + 100;
  line-height: percentage(15.3999996185303/14);
}

p {
  font-family: @base-font-family;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: @base-font-weight;
  line-height: 100%;
}

blockquote {
  font-family: @base-font-family;
  font-size: unit(21/@base-font-size, em);
  font-style: normal;
  font-variant: normal;
  font-weight: @base-font-weight;
  line-height: percentage(30/21);
}

pre {
  font-family: @base-font-family;
  font-size: unit(13/@base-font-size, em);
  font-style: normal;
  font-variant: normal;
  font-weight: @base-font-weight;
  line-height: percentage(18.5714282989502/13);
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =========================================================================
  Icons
  ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
  content: "\e605";
}
.icon-email:before {
  content: "\e600";
}
.icon-location:before {
  content: "\e601";
}
.icon-vk-with-circle:before {
  content: "\e602";
}
.icon-facebook-with-circle:before {
  content: "\e603";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-images:before {
  content: "\e90e";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\e604";
}
