@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/CenturyGothic/CenturyGothicRegular.eot");
  src: url("fonts/CenturyGothic/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/CenturyGothic/CenturyGothicRegular.woff") format("woff"),
  url("fonts/CenturyGothic/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Icomoon';
  src:url('fonts/Icomoon/icomoon.eot?uiukqi');
  src:url('fonts/Icomoon/icomoon.eot?#iefixuiukqi') format('embedded-opentype'),
  url('fonts/Icomoon/icomoon.ttf?uiukqi') format('truetype'),
  url('fonts/Icomoon/icomoon.woff?uiukqi') format('woff'),
  url('fonts/Icomoon/icomoon.svg?uiukqi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}