
#current-route {

  height: 700px;
  margin-top: -95px;
  padding-top: 95px;
  position: relative;
  width: 100%;
  z-index: 0;

  .slider {
    background-image:
      linear-gradient(to top, #000000 5%, rgba(0, 0, 0, 0) 35%),
      radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 35%, #000000 130%);
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;

    img {
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  .background-route-image {
    &:extend(#current-route .slider);
    //background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 35%, #000000 130%);

    img{
      &:extend(#current-route .slider img);
    };
  }



  .teaser, .gallery {
    background-color: @transparent-color;

    @media (min-width: @screen-768-min) {
      min-height: 142px;
      width: 45%;
    }

    h2 {
      font-size: unit(20/@base-font-size, em);
      margin: 2px 0;

      span {
        position: relative;
      }

      a {
        color: @header-color;
        letter-spacing: 0.3px;
      }
    }
  }

  .teaser .icon-location:before,
  .gallery .icon-images:before {
    color: #000;
    font-size: 1.5em;
    left: -40px;
    position: absolute;
    top: 3px;
  }

  .teaser {
    padding: 10px 0.95% 10px 1.88%;                  // 10px 12px 10px 24px
    position: relative;
    margin: 0 20px;

    @media (min-width: @screen-768-min) {
      float: left;
      margin: 0;
    }

    @media (max-width: @screen-480-max) {
      max-height: 150px;
      overflow: hidden;
    }

    @media (max-width: @screen-360-max) {
      max-height: 190px;
    }

    h2 {
      padding: 0 0 0 35px;
    }

    p {
      color: @text-color;
      font-family: @sans-font-family;
      font-size: 1em;
      line-height: unit(20/14, em);
      letter-spacing: 0.2px;
      margin: 10px 20px;
      text-indent: 6.944444444444444%;

      @media (min-width: @screen-480-min) {
        margin: 10px 0;
      }
    }
  }

  .gallery {
    float: right;
    padding: 10px 1.88% 10px 0.95%;
    position: relative;

    @media (max-width: @screen-480-max) {
      display: none;
    }

    h2 {
      padding: 0 0 0 50px;
    }

    ul {
      list-style: none;
      margin: 10px 0 6px 2.450980392156863%;  // margin-left: 15/612*100   target/container*100
      overflow: hidden;
      width: 78%;
      white-space: nowrap;

      @media (max-width: @screen-1024-min) {
        width: 89%;
      }
    }

    li {
      display: inline-block;
      margin-right: 3.5%;
      //width: 30%;

      @media (min-width: @screen-768-min) {
        width: 46%;
      }

      @media (min-width: @screen-992-min) {
        width: 30%;
      }
    }

    a {
      display: block;
    }

    img {
      border: 2px solid @white;
      max-height: 111px;
      width: 100%;
    }
  }


  .navigation {
    clear: both;
    position: relative;

    a {
      color: @white;
      display: block;
      float: left;
      font: bold 1em @base-font-family;
      padding: 54px 0 0 (percentage(50/@base-max-width));
      text-decoration: none;

      @media (min-width: @screen-480-min) {
        font-size: unit(18/@base-font-size, em);
      }

      & .icon-circle-left:before,
      & .icon-circle-right:before {
        display: block;
        //font-size: 62px;
        font-size: unit(62/18, em);
        margin-bottom: 18px;
      }
    }

    a + a {
      float: right;
      padding: 54px (percentage(50/@base-max-width)) 0 0;
      text-align: right;
    }
  }




}

.routes-catalog {
  margin: -86px 0 12px;
  position: relative;

  @media (min-width: @screen-480-min) {
    margin: -180px 0 12px;
  }

  @media (min-width: @screen-992-min) {
    margin: -224px 0 12px;
  }

  h2 {
    color: @white;
    font: bold (unit(20/@base-font-size, em)) @base-font-family;
    margin-left: percentage(60/@base-max-width);
    margin-top: 20px;

    @media (min-width: @screen-480-min) {
      font-size: unit(24/@base-font-size, em);
      margin-left: percentage(44/@base-max-width);
    }

    .icon-stack:before {
      font-size: unit(42/24, em);
      display: block;
      float: left;
      margin-right: 14px;
      line-height: 26px;
    }
  }

  .list {
    margin: 0 auto;
    text-align: center;
    width: percentage(1260/@base-max-width);

    article {
      display: inline-block;
      margin-bottom: 10px;

      @media (min-width: @screen-360-min) {
        width: 98%;
      }

      @media (min-width: @screen-480-min) {
        width: 48%;
      }

      @media (min-width: @screen-768-min) {
        width: 30%;
      }

      @media (min-width: @screen-1024-min) {
        width: 24%;
      }
    }

    figure {
      border-radius: 50%;
      margin: 0 0 0.5em;


      img {
        &:hover {
          .animated();
          .tada();
        }

        border: 2px solid @white;
        border-radius: 50%;
        .square(206px);

        @media (min-width: @screen-992-min) {
          .square(230px);
        }
      }
    }


    h3 {
      margin: 5px auto;
      text-align: center;

      a {
        color: @white;
        font: bold (unit(18/@base-font-size, em)) @base-font-family;
      }
    }

    p {
      color: @white;
      font: bold (unit(14/@base-font-size, em)) @base-font-family;
      margin: 5px auto 0;
      padding: 0 6.5%;
      text-align: center;
    }

    footer {
      color: @white;
      font: bold (unit(18/@base-font-size, em)) @base-font-family;
      text-align: center;
    }

  }
}

.info {
  clear: both;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;

  h2 {
    &:extend(.routes-catalog h2);

    .icon-info:before {
      &:extend(.routes-catalog h2 .icon-stack:before);
    }
  }

  .column {

    margin: 1em 1em 1em (percentage(100/@base-max-width));

    @media (min-width: @screen-768-min) {
      margin: 0 percentage(20/@base-max-width);
    }

  }

  h2 + .column {
    margin-left: percentage(100/@base-max-width);
  }

  h3 {
    font: bold (unit(16/@base-font-size, em)) @base-font-family;
    margin: 0;
  }

  ol {
    float: left;
  }

  li {
    font: (unit(14/@base-font-size, em)) @base-font-family;
  }

}


.view-route {
  background-color: @transparent-color;
  margin: 0 (percentage(20/@base-max-width));
  padding: 10px 2%;
  position: relative;

  @media (min-width: @screen-768-min) {
    margin: 0 (percentage(100/@base-max-width)) 0 0;
  }

  @media (min-width: @screen-992-min) {
    margin: 0 percentage(200/@base-max-width) 0 0;
  }



  .view-description {

    @media (min-width: @screen-480-min) {
      float: left;
      width: 64%;
    }
  }

  h2 {
    letter-spacing: 0.3px;
    color: @header-color;
    font-size: unit(20/@base-font-size, em);
  }

  p {
    color: @grey;
    font: 1em @sans-font-family;
    margin-left: 7%;
  }


  dt {
    &:extend(.view-route h2);
    font-weight: bold;
    margin: 16px 0 5px;
  }

  dd {
    &:extend(.view-route p);
  }

  [class^="icon-"], [class*=" icon-"]{
    &:before {
      color: #000;
      display: block;
      float: left;
      font-size: 1.5em;
      line-height: 26px;
      margin-right: 14px;
    }
  }


  .view-gallery {

    @media (min-width: @screen-480-min) {
      width: 34%;
      float: right;
    }

    h2 {
      &:extend(.view-route h2);
    }

    ul {
      list-stile-type: none;
      padding: 0;
      width: 100%;

      @media (min-width: @screen-768-min) {
        padding: 0 0 0 40px;
      }
    }

    li {
      display: block;
      margin: auto;
      width: 60%;

      @media (min-width: @screen-768-min) {
        display: inline-block;
        margin: 0;
        width: 40%;
      }
    }

    a {
      display: block;
    }

    img {
      border: 2px solid white;
      width: 100%;
    }

  }

}
