//
// Variables
// ---------------------------



// Colors
//----------------------------
@black:                 #000;
@grey:                  #222;
@white:                 #fff;


// Base
//----------------------------
@base-max-width: 1280px;
@body-background:        @white;

@header-color:           #454545;
@text-color:             #343434;


// Links
// --------------------------
//@link-color:             @grey;
//@link-color-hover:        @grey;


// Typography
// -------------------------
//@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
//@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
//@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@base-font-family:    'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
@sans-font-family:     Verdana, Geneva, sans-serif;
@base-font-size:       14px;
@base-font-weight:     400;
@base-line-height:     20px;

@transparent-color:    rgba(255, 255, 255, 0.6);

// Media queries breakpoints
// --------------------------------------------------

@screen-360-min:             360px;

// Extra small screen / phone
@screen-480-min:              480px;

// Small screen / tablet
@screen-768-min:              768px;

// Medium screen / desktop
@screen-992-min:              992px;

// Large screen / wide desktop
@screen-1024-min:             1024px;

// Extra large
@screen-1200-min:              1200px;

// So media queries don't overlap when required, provide a maximum
@screen-360-max:             (@screen-480-min - 1);
@screen-480-max:             (@screen-768-min - 1);
@screen-768-max:             (@screen-992-min - 1);
@screen-992-max:             (@screen-1024-min - 1);
@screen-1024-max:            (@screen-1200-min - 1);