.overlay {
  background-color: rgba(0, 0, 0, .8);
  left: 0;
  position: fixed;
  .square(100%);
  top: 0;
  z-index: 15;

  &.hide {
    display: none;
  }

  .close {
    color: @black;
    cursor: pointer;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    right: 30px;
    text-align: center;
    text-decoration: underline;
    top: 0;
    z-index: 10;

    &:before {
      background: #ddd;
      content:"\00d7";
      display: block;
      font-size: 22px;
      height: 30px;
      left: -16px;
      line-height: normal;
      position: absolute;
      right: 10px;
      top: 0;
      width: 30px;
    }
  }

  .expander {
    margin-top: 30px;
    max-height: 96%;
    position: relative;
    width: 100%;
    z-index: 10;

    .zoom-in-cursor {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
    }

    .zoom-out-cursor {
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
      cursor: zoom-out;
    }
  }

  .content {
    text-align: center;
  }
}