.expander .image-viewer {
  background: @black;
  display: inline-block;
  position: relative;

  figure {
    margin: auto;
  }

  img {
    .box-shadow(0 0 10px #000000);
  }

  .next, .prev {
    position: absolute;
    top: 45%;
    a {
      color: #fff;
      font: 3em serif;
      text-decoration: none;
    }
  }

  .next {
    right: -50px;
  }

  .prev {
    left: -50px;
  }

  figcaption {
    .box-sizing(border-box);
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .3);
    text-indent: 1em;
    width: 100%;
  }

  .full-size-next() {
    font-size: 2em;
    right: 25px;
  }

  .full-size-prev() {
    font-size: 2em;
    left: 25px;
  }


  &:-webkit-full-screen {
    img {
      .size(100%, 100%) !important;
    }

    .next {
      .full-size-next();
    }

    .prev {
      .full-size-prev();
    }
  }

  &:-moz-full-screen {
    img {
      .size(100%, 100%) !important;
    }

    .next {
      .full-size-next();
    }

    .prev {
      .full-size-prev();
    }
  }

  &:-ms-fullscreen {
    img {
      .size(100%, 100%) !important;
    }

    .next {
      .full-size-next();
    }

    .prev {
      .full-size-prev();
    }
  }

  &:fullscreen {
    img {
      .size(100%, 100%) !important;
    }

    .next {
      .full-size-next();
    }

    .prev {
      .full-size-prev();
    }
  }
}

.preload {
  background: url(../img/preloader.gif) no-repeat 50% 50%;
}

.expander .images-list {
  text-align: center;

  ul {
    display: inline-block;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 2px;
  }

  a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: block;
    outline: none;
  }

  img {
    border: 2px solid @white;
    border-radius: 50%;
    box-shadow: 0 0 10px @black;
    .square(50px);
    .transition(all 1s ease);
  }

  .active {
    .square(70px);
  }
}

@keyframes imageFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.imageFadeIn {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: imageFadeIn;
}